/* Ce fichier sera compilé et inclus dans public/css/app.css */

:root {
    --main-color: #38EF7D;
    --main-color-darker: #29cc66;
    --second-color: #92CBC5;
    --second-color-lighter: #eef5f3;
    --third-color: rgb(17, 153, 142);
    --dark-color: #353E53;
    --light-grey: #eef5f3;
    --error-color: #d9534f;
    --highlighted-labels: #6A20AB;

    --test-color:red;

    font-size: 16px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    background-color: var(--light-grey);
    font-family: 'Roboto', Arial, sans-serif;
    color: var(--dark-color);
    line-height: 20px;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.icon {
    font-family: 'sema-font';
    font-size: 1.4em;
    line-height: 1em;
}

/***********/
/* LAYOUTS */
/***********/

/*.container{
  position: relative;
  margin: 0 auto;
  width: calc(100% - 14rem);
  max-width: 1200px;
}*/

.center {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    text-align: center;
}

.spacer {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.flex-horizontal {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.horizontal-align {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.buttons-container {
    margin-top: 1em;
}

img.footer-logo {
    max-width: 100px;
}

footer {
    background-color: white;
}

/***********/
/* BOUTONS */
/***********/
label {
    display: block;
    margin: 1rem 0 0.5rem;
}

.button, .btn {
    display: inline-block;
    position: relative;
    margin-right: 0.5rem;
    padding: 8px 16px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--main-color);
    border-radius: 16px;
    background-color: var(--main-color);
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    color: var(--dark-color);
    font-size: 0.9rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 20px;
}

.button .icon{
    transform: translateY(12.5%);
    font-size: 1em;
}

.button:hover {
    border-color: var(--main-color-darker);
    background-color: var(--main-color-darker);
    color: var(--dark-color);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.button.alter {
    background-color: #fff;
}

.button.alter:hover,
.button.alter.survol {
    border-color: var(--main-color-darker);
    background-color: var(--main-color-darker);
    color: var(--dark-color);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.button.inactive {
    opacity: 0.5;
}

.button.hover {
    border-color: var(--main-color-darker);
    background-color: var(--main-color-darker);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.big-button {
    background-color: var(--main-color);
    background-image: linear-gradient(129deg, rgba(17, 153, 142,0.8), var(--main-color));
}

.big-button {
    font-size: 1rem;
}

.big-button .icon {
    font-size: 3rem;
}

.big-button-line-height {
    line-height: 25px;
}

@keyframes glowing {
    0% {
        background-color: #fff;
        box-shadow: 0 0 5px #fff;
    }
    50% {
        background-color: var(--main-color);
        box-shadow: 0 0 20px var(--main-color);
    }
    100% {
        background-color: #fff;
        box-shadow: 0 0 5px #fff;
    }
}

.button.glow {
    animation: glowing 1300ms infinite;
}

/**********/
/* INPUTS */
/**********/

.custom-input {
    width: 100%;
    max-width: 230px;
    margin-bottom: 8px;
    padding: 0.5rem 0.25rem 0.5rem 0.5rem ;
    border-style: solid;
    border-width: 1px;
    border-color: var(--main-color);
    border-radius: 0.5rem;
    color: var(--dark-color);
    background: white;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.custom-input.number-field {
    color: var(--dark-color);
    text-align: center;
}

input:invalid {
    border-color: lightpink;
}

/***********/
/* TABLEAU */
/***********/

.table-row {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 4px;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 153, 142, 0.1)), to(rgba(17, 153, 142, 0.1)));
    background-image: linear-gradient(180deg, rgba(17, 153, 142, 0.1), rgba(17, 153, 142, 0.1));
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2);
}

.table-row.table-header {
    background-color: var(--dark-color);
    color: #fff;
}

.table-row.ref {
    background-color: var(--main-color);
    font-weight: 700;
}

.table-div {
    padding: 1em 4px;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 0;
    -webkit-flex: 0 13%;
    -ms-flex: 0 13%;
    flex: 0 13%;
    text-align: center;
}

.table-div.bigger {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 20%;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    text-align: left;
}

.table-div.shorter {
    -webkit-box-flex: 0.55;
    -webkit-flex-grow: 0.55;
    -ms-flex-positive: 0.55;
    flex-grow: 0.55;
    -webkit-flex-basis: 11%;
    -ms-flex-preferred-size: 11%;
    flex-basis: 11%;
}

.simulations .table-row::before,
.simulations .table-row .trash-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -2px;
    width: 2rem;
    height: calc(100% + 4px);
    font-family: 'sema-font';
    /*font-size: 1.4em;*/
    text-align: center;
    border: 2px solid white;
    background: var(--main-color);
    color: var(--dark-color);
    z-index: 1;
}
.simulations .table-row::before {
    content: "";
    left: -2rem;
    border-right: none;
    border-radius: 16px 0 0 16px;
    cursor: move;
}
.simulations .table-row .trash-icon {
    right: -2rem;
    border-left: none;
    border-radius: 0 16px 16px 0;
    cursor: pointer;
}
.table-row .table-div:nth-of-type(odd) {
    background: rgba(51, 62, 83, 0.1);
}
.simulations .table-row:nth-of-type(even) {
    background-image: linear-gradient(180deg, rgba(17, 153, 142, 0.2), rgba(17, 153, 142, 0.2));
}
.table-header .table-div.highlighted-label-2 {
    background-color: var(--highlighted-labels);
}
.table-header .table-div.highlighted-label-1 {
    background-color: rgba(106, 32, 171, 0.9);
}
.results {
    -webkit-flex: 0 39%;
    -ms-flex: 0 39%;
    flex: 0 39%;
    flex-wrap: wrap;
}
.result {
    flex: 1;
}
.estimate {
    width: 100%;
    background-color: var(--highlighted-labels);
}
.handle {
    cursor: move;
    cursor: -webkit-move;
}

.handling {
    cursor: move;
    cursor: -webkit-move;
}


/*************/
/*FORM Steps */
/*************/

ul.stepper li.active a .circle, ul.stepper li.completed a .circle {
    background: var(--main-color) !important;
    color: var(--dark-color);
}

ul.stepper li.active a .circle{
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    font-weight: 700;
    transform: translate(-0.75rem,0);
    -webkit-transform: translate(-0.75rem,0);
    -moz-transform: translate(-0.75rem,0);
    -ms-transform: translate(-0.75rem,0);
    -o-transform: translate(-0.75rem,0);
    z-index: 1;
}

ul.stepper li.active a .label{
    line-height: 3rem;
}

.stepper-vertical li::after {
    position: absolute;
    top: 3.44rem;
    left: 2.19rem;
    width: 1px;
    height: calc(100% - 40px);
    content: "";
    background-color: rgba(0,0,0,0.1);
}

.stepper-vertical li.active::after {
    width: 3px;
    top: 5rem;
    height: calc(100% - 5rem);
}

ul.stepper .step.active::before, ul.stepper .step.done::before {
    background-color: #34d579;
}

ul.stepper .step.wrong::before {
    background-color: var(--error-color);
}

ul.stepper .step.active::before {
    font-size: 1.5rem;
    line-height: 30px;
    height: 30px;
    width: 30px;
}

.active .step-title {
    line-height: 30px;
    font-size: 1.2rem;
}

/*************/
/* MENU Left */
/*************/

.left-menu {
    position: fixed;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: 0%;
    width: 4rem;
    height: 100vh;
    background-color: var(--dark-color);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    z-index:999;
    }

.left-menu:hover {
    width: 230px;
    }

.menu-item.button.icon {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    text-align: center;
    font-size: 2em;
    font-weight: 300;
    line-height: 1em;
    text-decoration: none;
    width: 100%;
    height: 2em;
    color: var(--main-color);
    background: rgba(255,255,255,0.1);
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    margin-bottom:1px;
    margin-right: 0;
    cursor: pointer;
    }

.menu-item.button.icon.sub-menu {
    font-size: 1.25em;
    border-left: 0.5rem solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.05);
    }

.left-menu:hover .menu-item.button.icon {
    justify-content: left;
    width: 230px;
    }

.menu-item.button.icon span {
    display: none;
    opacity: 0;
    width: 0;
    overflow: hidden;
    /*color: white;
    */font-family: 'Roboto', Arial, sans-serif;
    line-height: 2em;
    margin-left: 1em;
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out /*1s*/ ;
    -webkit-transition: all 0.2s ease-in-out /*1s*/ ;
    -moz-transition: all 0.2s ease-in-out /*1s*/ ;
    -ms-transition: all 0.2s ease-in-out /*1s*/ ;
    -o-transition: all 0.2s ease-in-out /*1s*/ ;
    }

.left-menu:hover .menu-item.button.icon span {
    display: inline-block;
    opacity: 1;
    width: auto;
    }

.menu-item.button.icon:hover {
    background: var(--main-color);
    color: var(--dark-color);
    }

.menu-container,
.credits-container {
    width: 100%;
}

.credits-container:hover {
    margin-bottom: 20px;
}

/**********************************/
/* Components Specific styles     */
/**********************************/

// Message Flash

.alert-flash {
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 42;
}

// Fenêtre modale d'aide

.modal-mask,
#results-modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 520px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.help-modal.modal-footer {
    border-top: none;
    padding: 0;
}

.modal-default-button {
    float: right;
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

// Admin Component

.admin input:invalid {
    border: lightpink;
}

.admin-nav {
    text-align: center;
    padding: 10px;
}

.admin-nav span.router-link-active button.alter {
    background-color: var(--main-color);
}

.admin-subnav {
    text-align: center;
    padding: 10px;
}

.admin-subnav span.router-link-active button.alter {
    background-color: var(--main-color);
}

.trash-icon {
    cursor: pointer;
}
.form-group.admin select {
    display: inline-block;
    max-width: 200px;
}

// Input Component

.editing-reference-values {
    position: relative;
    background-color: white;
    z-index: 999;
}

.editing-mask {
    position: fixed;
    z-index: 666;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

label {
    font-size: 1rem;
    color: var(--dark-color);
}

.datepicker {
    cursor: text;
}

// Results Component

.colored {
    color: var(--main-color-darker);
}

.icon-angle-down {
    transition: all 0.5s;
}

.button .icon.reversed {
    transform: rotate(180deg);
}

#further-actions {
    font-size: 1.2em;
    border: 2px solid var(--main-color);
    padding: 10px 0 0;
    background-color: white;
    border-radius: 1em;
}

// Simulation component

.up {
    transform: rotate(-45deg);
}

.down {
    transform: rotate(45deg);
}

.good {
    color: var(--main-color-darker);
}

.bad {
    color: var(--error-color);
}

.strong {
    font-weight: 700;
    margin-top: 10px;
}

.align-with-inputs {
    padding: 0.5rem 0.25rem 0.5rem 0.5rem;
}

// NotFound Component

.not-found button {
    margin: 50px auto;
}

.dark {
    background-color: var(--dark-color);
    color: var(--main-color);
}

.hide {
    display: none;
}

/****************************APP CO2******************/

h1.header {
  margin: 2rem 0 3rem;
}

/*********************/
/*  TOP SEARCH MENU  */
/*********************/
.dropdown {
    width: 25%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .btn.dropdown-toggle {
    margin: 0;
    display: block;
    width: 100%;
    height: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    float: none;
    border-style: solid;
    border-width: 1px 0px 1px 1px;
    border-color: var(--main-color);
    border-radius: 1em 0px 0px 1em;
    line-height: 1rem;
  }

  .dropdown-menu.show {
    width: 400%;
    padding: 0;
    border: 1px solid var(--main-color);
    border-radius: 0 0 1rem 1rem;
    -webkit-border-radius: 0 0 1rem 1rem;
    -moz-border-radius: 0 0 1rem 1rem;
    -ms-border-radius: 0 0 1rem 1rem;
    -o-border-radius: 0 0 1rem 1rem;
  }

  .dropdown-item {
    cursor: pointer;
    color: var(--dark-color);
    background: var(--second-color-lighter);
  }

  .dropdown-item:hover {
    cursor: pointer;
    background: var(--main-color);
  }

  .dropdown-item::after {
    content:"";
    display: block;
    width: 1rem;
    height: 1rem;
    position: absolute;
    right: 0.5rem;
    top:0.5rem;
    font-family: 'sema-font', sans-serif;
  }

  .dropdown-item.active {
    color: black;
    background: var(--second-color);
    border: none;
  }

  .dropdown-item.active::after {
    content:"";
  }

  .grid-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    gap: 1px 1px;
    max-height: 600px;
    overflow-y: scroll;
  }

  .list-group-item.product{
    display:grid;
    grid-template-columns: 1fr 2rem;
    grid-template-rows: 1fr auto;
    grid-auto-flow: column;
    border: 1px solid var(--second-color-lighter);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
  }

  .list-group-item.product:hover{
    border: 1px solid var(--main-color);
    background: var(--second-color-lighter);
    cursor: all-scroll;
  }

  .list-group-item.product button {
    grid-row-start: span 2;
    grid-row-end: span 2;
    border: none;
  }

  .search-bar.main-search .dropdown-toggle::before {
    content:"";
    display: block;
    position: absolute;
    left: 1rem;
    font-family: 'sema-font', sans-serif;
    font-size: 1.5rem;
    color: var(--dark-color);
  }

  .search-bar.main-search .dropdown-toggle::after {
    content:"";
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-family: 'sema-font', sans-serif;
    font-size: 1.5rem;
    color: var(--dark-color);
    margin-left: 1rem;
    vertical-align: auto;
    border-top: 0 solid;
    border-right: 0 solid transparent;
    border-bottom: 0;
    border-left: 0 solid transparent;
  }

  /*********************/
  /*     Modals        */
  /********************/
  .modal-dialog .modal-content {
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
  }

  .modal-dialog .modal-content input[type="number"] {
    max-width: 200px;
  }

  .modal-title {
    margin-bottom: 0.5rem;
    padding: 1rem 0.5rem;
    color: #fff;
    text-align: center;
    border-radius: 0.5rem;
    background-color:var(--third-color);
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
  }

  .modal li{
    margin-bottom: 1rem;
  }

.modal.modal-fixed-footer {
    width: 50%;
}

  .btn.info {
    position: absolute;
    top: 0;
    left: calc(100% + 1rem);
    background: var(--third-color);
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    border-color: var(--third-color);
    color: #fff;
  }


  /*********************/
  /* Input Buttons etc */
  /*********************/
  .no-padding {
    padding: 0;
  }

  .basket-name .input {
    font-size: 1rem;
    color: var(--dark-color);
    font-weight: 700;
    opacity: 1;
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
    padding: 0.5rem;
    height: auto;
  }

  .basket-name .input::placeholder {
    font-size: 1.2rem;
    color: var(--dark-color);
    font-weight: 700;
    opacity: 1;
  }

  .input.tool {
    margin-bottom: 0px;
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    border-color: var(--third-color);
    border: 1px solid var(--third-color);
    border-radius: 0.5rem;
    height: 2rem;
    padding: 0 0.5rem;
  }

  .input.search {
    display: block;
    height: calc(3rem - 2px);
    max-width: none;
    margin-bottom: 0rem;
    border-left-width: 0px;
    border-radius: 0px 1rem 1rem 0em;
    background-color: #fff;
    font-size: 16px;
    line-height: 1rem;
    border: 1px solid var(--main-color);
    padding-left: 1rem;
    -webkit-border-radius: 0px 1rem 1rem 0em;
    -moz-border-radius: 0px 1rem 1rem 0em;
    -ms-border-radius: 0px 1rem 1rem 0em;
    -o-border-radius: 0px 1rem 1rem 0em;
}

  .filter-field {
    margin-bottom: 0px;
  }

  .search {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .search-button {
    display: none;
  }

  .search-bar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0px;
    position: relative;
  }

  .search-bar.main-search {
    margin-bottom: 1rem;
  }

  .search-bar.main-search .autocomplete {
    padding: 0;
    margin: 0;
    overflow: auto;
    width: 100%;
  }

  .autocomplete-results {
    position: absolute;
    z-index: 42;
    background-color: #fff;
    box-shadow: 0 2px 16px rgba(0, 0, 0, .2);
  }

  .autocomplete-result {
    background-color: #fff;
    list-style: none;
    text-align: left;
    padding: 0.125rem 1rem;
    cursor: pointer;
  }

  .autocomplete-result.is-active {
    background-color: var(--main-color-darker);
    color: #fff;
  }

  .autocomplete-result:hover {
    background-color: var(--second-color);
    color: var(--dark-color);
  }

  .search-2 {
    margin-bottom: 0px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .btn-ico {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border-radius: 50%;
    background-color: var(--main-color);
    font-family: 'sema-font', sans-serif;
    color: var(--dark-color);
    cursor: pointer;
  }

  .btn-ico.alt {
    border-style: solid;
    border-width: 1px;
    border-color: var(--main-color);
    background-color: #fff;
  }

  .btn-ico.alt.tool {
    border-style: none;
    border-color: var(--third-color);
    background-color: transparent;
    color: var(--third-color);
  }

  a.btn-ico.alt.tool:hover {
    text-decoration: none;
  }

  .btn-ico.alt.tool.info {
    display: inline-block;
    width: 1em;
    height: 1em;
  }

  .add-basket {
    border-radius: 1rem;
    background-color: #fff;
  }

  .add-basket.flex-horizontal {
    padding: 1rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--dark-color);
    font-weight: 700;
    text-decoration: none;
  }

  .add-basket-text {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .add-basket-text.spacer-left {
    margin-left: 0.5rem;
  }

  /*************/
  /*  Paniers  */
  /*************/

  .basket {
    display: -ms-grid;
    display: grid;
    height: 100%;
    -webkit-box-align: start;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-align-content: start;
    -ms-flex-line-pack: start;
    align-content: start;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 2;
    grid-row-start: span 2;
    -ms-grid-row-span: 2;
    grid-row-end: span 2;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }

  .product-item {
    border-top: 1px dotted var(--third-color);
    cursor: move;
  }

  .product-header-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 153, 142, 0.1)), to(#fff));
    background-image: linear-gradient(180deg, rgba(17, 153, 142, 0.1), #fff);
  }

  .recipe-header-container {
    border-top: 1px dotted var(--third-color);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 153, 142, 0.1)), to(#fff));
    background-image: linear-gradient(180deg, rgba(17, 153, 142, 0.1), #fff);
  }

  .recipe-products {
      background: white;
      padding: 1rem;
      border-radius: 1rem;
  }

  .copied-recipe {
      border: 2px solid var(--third-color);
      border-radius: 2px;
  }

  .special-product-header-container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      padding-left: 0.5rem;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      border-color: var(--third-color) !important;
      cursor: move;
      position: relative;
  }

  .special-product-header-container i {
    color: var(--third-color);
  }

  .move-list-controls {
      position: absolute;
      left: -25px;
  }

  .border-left-3 {
    border-left: 3px solid var(--third-color) !important;
  }
  .border-right-3 {
    border-right: 3px solid var(--third-color) !important;
  }

  .border-3 {
    border-width: 3px !important;
  }

  .edit-block {
      cursor: pointer;
  }

  .block-title {
      cursor: text;
  }

  .special-product-top {
      background-color: rgba(17, 153, 142, 0.1);
      margin-top: 3px;
  }

  .special-product-bottom {
      border-top: 1px dotted var(--third-color) !important;
  }

  .product-name {
    font-weight: 700;
    padding: 0.5rem 0;
  }

  .results-container {
    min-height: 659.033px; // maximum height of this element with 12 blocks
    margin-top: 2rem;
    align-self: start;
  }

  .basket-header {
    position: relative;
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: #fff;
  }

  .basket--products-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0.5rem 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #fff;
    overflow: auto;
    max-height: 600px;
    margin-bottom: 2rem;
  }

  .basket-name {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .basket-toolbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .baskets-list {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-auto-flow: column;
    grid-auto-columns: 370px;
    grid-row-gap: 0px;
    grid-template-areas: ".";
    /*-ms-grid-columns: 360px;
    grid-template-columns: 360px;*/
    -ms-grid-columns: 370px;
    grid-template-columns: 370px;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    margin-top: 4rem;
    margin-bottom: 3rem;
  }

  .product-details-info {
    display: -ms-grid;
    display: grid;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    justify-items: stretch;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-column-gap: 0.2rem;
    grid-row-gap: 0rem;
    -ms-grid-columns: 2fr 1fr 2fr 1fr;
    grid-template-columns: 2fr 1fr 2fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .product-details-info .input {
    width: 100%;
    max-width: 230px;
    margin-bottom: 8px;
    padding: 0.5rem 0.25rem 0.5rem 0.5rem;
    border-style: solid;
    border-width: 1px;
    border-color: var(--main-color);
    border-radius: 0.5rem;
    color: var(--dark-color);
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
  }

  .buttons-container {
    margin-top: 1em;
  }

  .units {
    display: inline-block;
    align-self: center;
  }

  .units.crud {
      min-width: 60px;
  }

  .custom-select.input {
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
  }

  /*******************/
  /* Checkbox panier */
  /*******************/
  .basket-select {
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    height: 3rem;
    margin: 0 1rem ;
    display: block;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: #fff;
    font-weight: 700;
    text-align: center;
    -webkit-transform: translate(0px, -3rem);
    -ms-transform: translate(0px, -3rem);
    transform: translate(0px, -3rem);
    -moz-transform: translate(0px, -3rem);
    -o-transform: translate(0px, -3rem);
  }
  .basket-select.top {
      position: absolute;
  }

  input.custom-control-input{
    display:block;
    width: 100%;
    height: 100%;
  }

  .basket-select label {
    display: inline-block;
    font-weight: 700;
  }

  .basket-select .custom-control-input + .custom-control-label {
    opacity: 0.7;
  }

  .custom-control-label::before,
  .custom-control-label::after {
    position: absolute;
    top: 0rem;
    left: -2.5rem;
    display: block;
    width: 2rem;
    height: 2rem;
    pointer-events: none;
    background-color: none;
    border: none;
  }

  .basket-select .custom-control-input + .custom-control-label::before{
    content:"";
    font-family: 'sema-font', sans-serif;
    font-size: 2rem;
    border: none;
    color: var(--dark-color);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    background-color: transparent;
    border: 0px solid transparent;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
  }

  .basket-select .custom-control-input:checked + .custom-control-label {
    opacity: 1;
  }

  .basket-select .custom-control-input:checked + .custom-control-label::before{
    color: var(--third-color);
    opacity: 0.5;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
  }

  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    content:"";
    font-family: 'sema-font', sans-serif;
    font-size: 2rem;
    border: none;
    color: var(--main-color);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    text-shadow: 2px 2px 0 white, 2px -2px 0 white, -2px 2px 0 white, -2px -2px 0 white;
  }

  .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
  }

  .custom-select:focus {
    border-color: var(--main-color-darker);
    outline: 0;
    box-shadow: 0 0 0 2px var(--main-color);
  }

  .switch {
    margin-bottom: 1.5rem;
  }

  .switch label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 700;
    color: var(--dark-color);
  }

  .switch label .lever::after {
    background-color: var(--third-color);
  }

  .switch label input[type="checkbox"] + .lever {
    background-color: rgb(132, 199, 193);
  }


  /**************/
  /*   TABS     */
  /**************/
  ul.nav.nav-tabs {
    display: flex;
    flex-direction: row;
  }

  .nav-tabs .button.btn-2.nav-link.nav-ico {
    font-family: 'sema-font', sans-serif;
    font-weight: 300;
    /*border-radius: 50%;*/
    /*padding: 0;*/
    /*display: flex;*/
  }

  .nav-tabs .button.btn-2.nav-link {
    background-color: var(--third-color);
    border: 1px solid var(--third-color);
    border-radius: 1rem 1rem 0 0 ;
    color: #fff;
    font-weight: 700;
    margin-right: 1px;
    opacity: 0.5;
    -webkit-border-radius: 1rem 1rem 0 0 ;
    -moz-border-radius: 1rem 1rem 0 0 ;
    -ms-border-radius: 1rem 1rem 0 0 ;
    -o-border-radius: 1rem 1rem 0 0 ;
  }

  .nav-tabs .button.btn-2.nav-link.active {
    background-color: var(--third-color);
    border: 1px solid var(--third-color);
    color: #fff;
    opacity: 1;
  }

  .nav-tabs .nav-link.button.btn-2.btn-ico {
    border-radius: 50%;
    padding: 0;
    display: flex;
  }

  .results-row {
    padding: 0.5rem;
    border-top: 1px dotted #2a2d3b;
  }

  .results-row.flex-horizontal {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }

  .results-row.flex-horizontal.final-results {
    border-style: solid;
    border-width: 1px;
    border-color: var(--third-color);
    border-radius: 0.5rem;
    background-color: #fff;
    font-weight: 700;
  }

  .results-categorie-name {
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 50%;
    -ms-flex: 0 50%;
    flex: 0 50%;
    font-weight: 700;
  }

  .results-div {
    -webkit-box-flex: 0;
    text-align: right;
  }

  .results-div:not(.first-basket) {
      -webkit-flex: 0 25%;
      -ms-flex: 0 25%;
      flex: 0 25%;
  }

  .results-comment {
    padding: 0.5rem;
    color: var(--third-color);
    font-style: italic;
    font-weight: 400;
    text-align: center;
    min-height: 76px;
  }

  .results-comment a {
    font-style: normal;
  }

  .results-select {
      display: inline-block;
      width: fit-content;
      color: inherit;
      font-weight: inherit;
      font-style: inherit;
      background: inherit;
      height: inherit;
      border: none;
      padding: 0;
      cursor: pointer;
      border-radius: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      box-shadow: var(--third-color) 0 0.1rem 0 0px;
      transition: box-shadow 300ms ease-out 0s;
  }

  .results-select::-ms-expand {
      display: none;
  }

  .results-select:invalid {
      box-shadow: var(--error-color) 0 0.25rem 0 0px;
  }

  .results-select.guests {
      -moz-appearance: textfield;
      width: 10px;
  }

  .results-select.guests::-webkit-outer-spin-button,
  .results-select.guests::-webkit-inner-spin-button{
      -webkit-appearance: none;
      margin: 0;
  }

  .hidden-span {
      visibility: hidden;
      display: none;
  }

  .results-select:focus, .results-select:hover {
      outline: none;
      box-shadow: var(--third-color) 0px 0.25rem 0px 0px;
  }

  .sum {
      width: 100%;
      position: absolute;
      bottom: 0;
  }

/*************/
/* SearchBar */
/*************/

.autocomplete {
    padding: 0;
    margin: 0;
    overflow: auto;
    width: 100%;
}

.autocomplete-results {
    position: absolute;
    z-index: 42;
    background-color: #fff;
    box-shadow: 0 2px 16px rgba(0, 0, 0, .2);
}

.autocomplete-result {
    background-color: #fff;
    list-style: none;
    text-align: left;
    padding: 0.125rem 1rem;
    cursor: pointer;
}

.autocomplete-result.is-active,
.autocomplete-result:hover {
    background-color: var(--main-color-darker);
    color: #fff;
}

.search-bar.main-search .autocomplete {
    display: block;
}

.product-info-bubble {
    position: relative;
}

/*************/
/* Infobulles*/
/*************/

.info-bubble:hover, .info-bubble:focus {
    background: rgba(0, 0, 0, .4);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .4);
}

.info-bubble span {
    text-transform: none;
    font-weight: bold;
    font-family: 'sema-font';
    position: absolute;
    margin-top: 20px;
    margin-left: -35px;
    background-color: var(--main-color);
    color: var(--dark-color);
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
    transform: scale(0) rotate(-12deg);
    transition: all .25s;
    opacity: 0;
    z-index: 1080;
}

.info-bubble:hover span, .info-bubble:focus span {
    transform: scale(1) rotate(0);
    opacity: 1;
}

/*************/
/* MISC      */
/*************/

.info {
    background-color: white;
    border-radius: 1rem;
}

.back.button:hover {
    text-decoration: none;
}

#remember {
    opacity: 1;
    pointer-events: auto;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    pointer-events: auto;
}

[type="radio"]:not(:checked), [type="radio"]:checked {
    opacity: 1;
    pointer-events: auto;
}

.login label {
    margin: 0 0 0.5rem;
}

.list-group-item.product:hover {
    cursor: pointer;
}

i.icon-angle-down.reversed {
    transform: rotate(180deg);
}

select {
    display: inline-block;
}

a.button:hover {
    text-decoration: none;
    cursor: pointer;
}

.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.sticky-link {
  position: sticky;
  bottom: 10px;
}

input::placeholder {
    color: var(--dark-color);
}

.text-shrink {
    font-stretch: ultra-condensed;
}

.w-33 {
    width: 33%;
}

.w-15 {
    width: 15%;
}

.w-10 {
    width: 10%;
}

textarea.custom-input {
    height: 2.4rem;
}

.logs {
    margin-top: 30px;
    height: 70vh;
    overflow: auto;
    border: 1px solid var(--dark-color);
    border-radius: 1rem;
    padding: 5px;
}

// Load Spinner
// thanks https://projects.lukehaas.me/css-loaders/
.loader-spinner {
    color: var(--second-color);
    font-size: 10px;
    margin: 100px auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
@-webkit-keyframes load4 {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}
@keyframes load4 {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}
